.register {
  background-color: white;
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    .left {
      border: 0.5px solid;
      border-color: brown;
      border-radius: 15px;
      margin: 20px;
      width: 400px;
      height: 450px;
      .box {
        padding: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        label {
          color: green;
        }
        input {
          margin-left: 20px;
          color: grey;
        }
      }
      .error {
        padding: 0px 0px 0px 200px;
        color: red;
      }
      .login-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
        .register {
          background: none;
          color: black;
          width: 100px;
          height: 25px;
          cursor: pointer;
          border: 2px solid green;
          border-radius: 10px;
        }
        .reset {
          background: none;
          color: black;
          width: 100px;
          height: 25px;
          cursor: pointer;
          border: 2px solid red;
          border-radius: 10px;
        }
        .register:hover {
          background-color: lightgreen;
        }
        .reset:hover {
          background-color: lightcoral;
        }
      }
      .login {
        margin-top: 30px;
        margin-left: 30px;
        b {
          text-decoration: underline;
        }
      }
    }
    .right {
      .pic {
        img {
          height: auto;
          width: 600px;
        }
      }
    }
  }
}
