.product {
  h3 {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .column {
    flex: 1;
    margin: 0 10px;
  }

  .filter-sort {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
  }

  select {
    padding: 8px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    .marketing-img {
      background-color: #f8f8f8;
      width: 300px;
      height: auto;
      transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
      cursor: pointer;
    }

    .marketing-img:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .rate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .rating-container {
      display: flex;
      width: 50px;
      height: auto;
      margin-left: -120px;

      .rating {
        width: 25px;
        height: auto;
      }
    }

    .add-to-cart {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .add-to-cart button {
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      cursor: pointer;
      background-color: #5580ad;
      color: white;
      border-radius: 5px;
    }

    .add-to-cart button:hover {
      background-color: #0056b3;
    }
    .add-to-cart .wishlistButton:hover {
      background-color: pink;
    }

    .add-to-cart span {
      margin: 0 10px;
      font-weight: bold;
    }
  }

  button {
    margin: 0px 0px 20px 600px;
    width: 100px;
    height: 40px;
    background-color: #434f78;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  button,
  a:hover {
    background-color: #f3c93e;
    color: black;
  }
  .wishlistButton {
    margin: 0px 0px 20px 550px;
    width: 50px;
    height: 40px;
    background-color: #434f78;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    .wish {
      width: 30px;
      height: 30px;
    }
  }
}
