.home {
  padding: 20px;
  background-color: #f7f7f7;
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: 1280px;
      height: 500px;
      object-fit: cover;
      margin-left: 0px;
      position: relative;
    }
    .home-data {
      position: absolute;
      top: 60%;
      left: 75%;
      transform: translate(-50%, -50%);
      text-align: center;

      h2 {
        color: green;
      }

      p {
        color: goldenrod;
        width: 500px;
      }

      button {
        width: 100px;
        height: 30px;
        background-color: #f3c93e;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid #f3c93e;
        cursor: pointer;
      }

      button:hover {
        background-color: white;
        color: #f3c93e;
      }
    }
  }
}
.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;
  button {
    background-color: #ca49db94;
    border: 1px solid;
    border-radius: 5px;
  }
  img {
    width: 18px;
    height: 18px;
  }
}

.about {
  background-color: #313958;

  color: white;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .about-section {
      display: flex;
      flex-direction: column;
      margin-left: 180px;
      button {
        width: 100px;
        height: 30px;
        cursor: pointer;
        background-color: #f3c93e;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid #f3c93e;
      }
      button:hover {
        background-color: #313958;
      }
    }

    img {
      width: 500px;
      height: 500px;
      object-fit: cover;
    }
  }
}

.product {
  h3 {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 50px;
    .item-container {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      .marketing-img {
        background-color: #f8f8f8;
        width: 100%;
        height: 275px;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        cursor: pointer;
      }

      .marketing-img:hover {
        transform: scale(1.1); /* Adjust the scale factor for zoom effect */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the box-shadow for a subtle glow effect */
      }
      .rate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .star {
          display: flex;
          flex-direction: row;
          img {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

.why {
  padding: 20px;
  text-align: center;
  background-color: rgb(223, 216, 208);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .box {
      width: 350px;
      height: 300px;
      margin: 10px;
      padding: 20px;
      -webkit-box-shadow: 10px 10px 16px 10px rgba(0, 0, 0, 0.29);
      box-shadow: 10px 0px 16px 10px rgba(0, 0, 0, 0.29);

      img {
        width: 60px;
        height: 60px;
        cursor: pointer;
      }
      p {
        width: 350px;
      }
    }
  }
}

.testimonial {
  background-color: white;
  h1 {
    text-align: center;
  }
  .container {
    margin: 50px;
    padding: 40px;
    -webkit-box-shadow: 10px 10px 16px 10px rgba(0, 0, 0, 0.29);
    box-shadow: 10px 0px 16px 10px rgba(0, 0, 0, 0.29);
    img {
      width: 15px;
      height: 15px;
    }
  }
  .profile-container {
    display: flex;
    flex-direction: row;
    margin: -40px 40px 40px 50px;
    .details {
      margin-top: 180px;
      span {
        color: black;
        font-weight: bold;
      }
      p {
        color: #f3c93e;
      }
    }
  }
  .profile {
    width: 130px;
    margin-right: 25px;
    background-color: #f3c93e;
    padding: 55px 15px 15px 15px;
    -webkit-clip-path: polygon(
      35% 15%,
      50% 0,
      65% 15%,
      100% 15%,
      100% 100%,
      0 100%,
      0 15%
    );
    clip-path: polygon(
      35% 15%,
      50% 0,
      65% 15%,
      100% 15%,
      100% 100%,
      0 100%,
      0 15%
    );
    img {
      width: 130px;
      height: 180px;
      object-fit: cover;
    }
  }
}
