.contactUs {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("/public/images/blurred-soft-people-meeting-table-business-people-talking-modern-office-generative-ai.jpg");
  background-size: cover;
  .content {
    text-align: center;
    margin-bottom: 20px;
    h2 {
      font-size: 36px;
      font-weight: 800;
      color: #fff;
    }
    p {
      font-weight: 500;
      color: #fff;
      width: 1000px;
    }
  }
  .container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;

    .contactInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 0px 0px 100px 100px;
      .box {
        position: relative;
        padding: 20px 0;
        display: flex;
        .icon {
          width: 60px;
          height: 60px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 22px;
          img {
            width: 50px;
            height: 50px;
            padding-bottom: 10px;
          }
        }
        .text {
          display: flex;
          margin-left: 20px;
          font-size: 16px;
          color: #fff;
          flex-direction: column;
          font-weight: 300;
          h3 {
            font-weight: 500;
            color: black;
            font-weight: 600;
          }
          p {
            font-weight: 300;
            color: black;
            font-weight: 600;
          }
        }
      }
    }
    .contactForm {
      width: 40%;
      height: 400px;
      padding: 50px;

      margin-bottom: 50px;
      background-image: url("/public/images/notepad-near-mouse-coffee-with-copy-space.jpg");
      background-size: cover;
      margin-right: 100px;
      border-radius: 60px;
      h2 {
        font-size: 30px;
        color: white;
        margin-top: -30px;
      }
      .inputBox {
        position: relative;
        width: 100%;
        margin-top: 20px;
        input {
          width: 100%;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #333;
          outline: none;
          resize: none;
        }
        textarea {
          width: 100%;
          height: 100px;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #333;
          outline: none;
          resize: none;
        }
        span {
          position: absolute;
          left: 0;
          padding: 5px 0;
          font-size: 16px;
          margin: -25px 0;
          pointer-events: none;
          transition: 0.5s;
          color: rgb(63, 62, 62);
          font-weight: 600;
        }
      }
    }
  }
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}

.contactForm .inputBox button {
  width: 200px;
  background: green;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
