.singleProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .container {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }

  .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .container input,
  .container select,
  .container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  .container input:focus,
  .container select:focus,
  .container textarea:focus {
    border-color: #7c7c7c;
  }

  .container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .container button:hover {
    background-color: #45a049;
  }

  .right-container {
    width: 50%;
  }

  .right-container > div {
    margin-bottom: 20px;
  }

  .right-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .right-container p {
    margin-bottom: 5px;
  }

  .right-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
